/* svg g path {
  transform: initial !important;
} */

g path:last-of-type {
  transform: initial !important;
}

.empty-axis text{
  display: none;
}

/* .tick line {
  display: none;
} */
/* g {
  transform: translateY(0) !important;
} */

/* .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
} */

/* text {
  font-weight: 600;
  font-size: 12px;
  color: #aaa;
}
*/

.ui-box {
  background: white;
border: 1px solid #f0f0f0;
border-radius: 10px;
overflow: hidden;
margin: 8px;
border-collapse: collapse;
box-sizing: border-box;
width: calc(50% - 16px);
}

text {
  font-weight: 600;
  font-size: 10px;
  color: #929292;
}

.x-axis .tick line {
  stroke: #D9D9D9;
}

.y-axis .tick line {
  stroke: #D9D9D9;
} 

.x-axis-grid g {
  stroke: #D9D9D9;
}

.x-axis-grid g line {
  stroke: #D9D9D9;
  stroke-width: 1;
}

.y-axis-grid g line {
  stroke: #D9D9D9;
}

.domain {
  stroke: #d9d9d9;
}

.svg-tooltip {
  background: #232323;
  color: #fff;
  display: block;
  width: 220px;
  height: 110px;
  z-index: 177;
}

/* Tooltip */

.custom-tooltip {
  background: black;
  width: 200px;
  border-radius: 10px;
  color: white;
  left: -100px;
  padding: 8px 11px 8px 11px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  top: -151px;
}

.ui-tooltip-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: 4s all ease; 
}

.ui-tooltip-values {
  display: flex;
}

.ui-tooltip-label {
  color: #929292;
  font-weight: 600;
  font-size: 10px;
}

.ui-tooltip-green {
  color: #6EE294;
  font-size: 10px;
  font-weight: 600;
  margin-right: 10px;
}

.ui-tooltip-blue {
  color: #5F72FF;
  font-size: 10px;
  font-weight: 600;
}

.ui-tooltip-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ui-tooltip-image-wrapper {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 10px;
}

.ui-tooltip-image {
  width: 26px;
  height: 26px;
}

.ui-tooltip-row-label {
  color: white;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  width: 170px;
}

.ui-tooltip-row-label p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-tooltip-line {
  width: 1px;
  height: 358px;
  position: absolute;
  background: black;
  left: 109px;
}

.ui-tooltip-line-bottom {
  width: 22px;
  height: 3px;
  background: black;
  position: absolute;
  top: 357px;
  left: -11px;
  border-radius: 1px;
}

/* Graph labels */

.ui-graph-labels-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-graph-main-label {
  font-weight: 500;
  font-size: 15px;
  color: #444444;
}

.ui-graph-time-label {
  font-weight: 500;
  font-size: 15px;
  color: #5F72FF;
}

.ui-graph-date-label {
  font-weight: 600;
  font-size: 10px;
  color: #777777;
  margin-bottom: 10px;
  margin-top: 15px;
}