/* svg g path {
  transform: initial !important;
} */

g path:last-of-type {
  transform: initial !important;
}

/* g {
  transform: translateY(0) !important;
} */

/* .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
} */