body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.app {
  background: #fafafa;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 220px;
  background: white;
  border-right: 1px solid #eee;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

.break {
  flex-basis: 100%;
}


element.style {
  padding: 20px;
  overflow: visible;
}
@media only screen and (max-width: 1351px) {
.ui-box {
  width: calc(100% - 16px) !important;
}

}